#Credenciales y variables de entorno (¡CRÍTICO!)

credenciales.json
.env

#Archivos temporales de datos que genera tu agente

datos_temporales.json
historial_consultas_agente.txt

#Carpetas ocultas del framework ADK

.adk/

#Entornos virtuales de Python (si tienes uno)
adkweb/
.venv/
env/
pycache/
gerente/__pycache__/

#archivos python local

poblar_bigquery.py
test_conexion.py
gerente/__pycache__/
gerente/sub_agent/__pycache__/
gerente/sub_agent/analista_bd/__pycache__/
gerente/sub_agent/analista_bd/esquemas_tablas.txt